body {
    background: black;
    font-family: 'Raleway', sans-serif;
}
.navbar img {
    width: 30px;
    height: 30px;
    
}

.borde {
    border-bottom: 3px solid #5bc0de;

}
.borde {
    border-bottom: 3px solid #5bc0de;

}
#iconos {
    text-decoration: none;
}